@use '@adofai-gg/ui/style-system/colors' as *;

.markdown-body {
	*:not(h1, h2, h3, h4, h5, h6) {
		color: rgba(255, 255, 255, 0.8);
		font-weight: 400;
		line-height: 1.6;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 4px;
		font-weight: 600;
	}

	h1 {
		margin-top: 32px;
		font-size: 36px;
		line-height: 1.2;
	}

	h2 {
		margin-top: 32px;
		font-size: 28px;

		&:first-child {
			margin-top: 14px;
		}
	}

	h3 {
		margin-top: 32px;
		font-size: 22px;
	}

	h2 + h3 {
		margin-top: 14px;
	}

	h4 {
		margin-top: 24px;
		font-size: 18px;
	}

	p {
		margin: 8px 0;
		font-size: 16px;
	}

	a {
		text-decoration: underline;
	}

	table {
		width: 100%;
		margin: 16px 0;
		border: 1px solid rgba(255, 255, 255, 0.2);
		border-spacing: 16px;
		border-collapse: separate;
		border-radius: 8px;
	}

	thead {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: rgba(255, 255, 255, 0.1);
		}
	}

	th {
		color: white;
		font-weight: 600;
	}

	th,
	td {
		vertical-align: top;
		text-align: left;

		&:not(:last-child) {
			border-right: 1px solid rgba(255, 255, 255, 0.1);
		}
	}

	strong {
		color: white;
		font-weight: 600;
	}

	u,
	span.underline {
		background-color: inherit;
		color: inherit;
		font-weight: inherit;
		text-decoration: underline;
	}

	figure.callout {
		margin: 0;
		padding: 16px;
		border-radius: 8px;
		background-color: rgba($darkblue, 0.2);
	}

	mark {
		background-color: inherit;
		color: inherit;
		font-weight: inherit;

		&.highlight-yellow_background {
			background-color: rgba($yellow, 0.2);
		}

		&.highlight-red {
			color: $red;
		}
	}

	small {
		font-size: 12px;
	}

	ul,
	ol {
		padding-inline-start: 1.7em;
	}

	ul {
		list-style-type: disc;

		ul {
			list-style-type: circle;

			ul {
				list-style-type: square;
			}
		}
	}

	ol {
		list-style-type: decimal;
	}

	li {
		margin: 8px 0;
		padding-left: 0.1em;

		p:first-child {
			display: inline;
			margin: 0;
		}
	}

	hr {
		height: 1px;
		margin: 32px 0;
		border-width: 1px;
		border-radius: 1px;
		color: rgba(255, 255, 255, 0.2);
	}
}
