/* This file contains CSS that is common across all pages */

/* Roboto Mono (monospace) font */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

/* Quicksand fonts */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Quicksand-Light.ttf");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Quicksand-Regular.ttf");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Quicksand-Medium.ttf");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Quicksand-SemiBold.ttf");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Quicksand-Bold.ttf");
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  --nav-height: 56px;
  --nav-menu-size: 100px;
}

html,
body,
#root,
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  min-width: 1120px;
  margin: 0;
  padding-right: 0 !important; /* swal changes body stlye */
  font-family: Quicksand, "나눔스퀘어라운드", sans-serif;
  font-weight: 400;
  background-size: cover;
  background-attachment: fixed;
  /* overflow: overlay; */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
  /* width: 10px;
  height: 10px; */
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.658);
  border-radius: 10px;
  transition: all 0.2s ease;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(202, 202, 202, 0.658);
}

body::-webkit-scrollbar-corner {
  display: none;
}

.container {
  position: relative;
  height: 100%;
}

main {
  margin-top: var(--nav-height);
}

ul {
  list-style-type: none;
  margin-left: 50px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

li {
  display: inline-block;
}

li a {
  font-size: 20px;
  text-align: center;
  padding: 0 25px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

h1,
h2,
h3,
h4,
h5 {
  color: white;
  margin: 0;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

h2 {
  font-size: 25px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

/* h4 {
}

h5 {
} */

input:focus {
  outline: none;
}

::placeholder {
  color: white;
  opacity: 0.35;
}

.container {
  width: 100%;
}

.logo-middle {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

nav {
  height: var(--nav-height);
  width: 100vw;
  position: fixed;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(26, 37, 51, 0.7);
  z-index: 10000;
  backdrop-filter: blur(5px);
}

.nav-logo,
.nav-pages,
.nav-menu {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-logo,
.nav-menu {
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-pages {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu {
  justify-content: flex-end;
  display: flex;
  right: 0;
}

.nav-menu-user-avatar {
  width: calc(var(--nav-height) * 0.45);
  height: calc(var(--nav-height) * 0.45);
  border-radius: 100%;
  margin-right: 5px;
}

.nav-menu-user-name:hover {
  text-decoration: none;
}

.nav-menu-list {
  display: flex;
  gap: 10px;
}

.nav-menu-icon-button {
  height: calc(var(--nav-height) * 0.6);
  min-width: calc(var(--nav-height) * 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 100%;
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  color: white;
}

.nav-menu-icon-button a {
  padding: 0;
}

.nav-menu-icon-button:hover {
  filter: brightness(1.2);
}

.nav-menu-icon-button :is(a, img) {
  font-size: calc(var(--nav-height) * 0.3);
  width: calc(var(--nav-height) * 0.4);
  height: calc(var(--nav-height) * 0.4);
}

.nav-menu-icon-button a:hover {
  text-decoration: none;
}

.nav-menu-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: var(--nav-height);
  right: 0;
  gap: 0.5rem;
  width: 300px;
  margin: 10px;
  padding: 0.5rem;
  padding-top: 0;
  border-radius: 10px;
  z-index: 10000;
  overflow: hidden;
  background-color: rgba(25, 39, 56, 01);
  border: rgba(255, 255, 255, 0.333) solid 1px;
  transition: all 0.2s ease;
  will-change: opacity, transform;
}

.nav-menu-dropdown-container {
  width: 100%;
  will-change: transform, position;
  transition: all 0.2s ease;
}

.nav-menu-dropdown-enter {
  opacity: 0;
  transform: translateY(-110%);
}

.nav-menu-dropdown-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 0.2s ease;
}

.nav-menu-dropdown-exit {
  opacity: 1;
}

.nav-menu-dropdown-exit-active {
  opacity: 0;
  transform: translateY(-110%);
}

.nav-menu-dropdown-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.nav-menu-dropdown-primary-enter-active {
  transform: translateX(0%);
}

.nav-menu-dropdown-primary-exit {
  position: absolute;
}

.nav-menu-dropdown-primary-exit-active {
  transform: translateX(-110%);
}

.nav-menu-dropdown-secondary-enter {
  transform: translateX(110%);
}

.nav-menu-dropdown-secondary-enter-active {
  transform: translateX(0%);
}

/* .nav-menu-dropdown-secondary-exit {
} */

.nav-menu-dropdown-secondary-exit-active {
  transform: translateX(110%);
}

.nav-menu-dropdown-secondary-title {
  display: flex;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.333);
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.nav-menu-dropdown-back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  padding: 7.5px;
  margin: 7.5px;
  border-radius: 100%;
  transition: all 0.2s ease;
}

.nav-menu-dropdown-back-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-menu-dropdown-item {
  height: 50px;
  width: calc(300px - 1rem);
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.nav-menu-dropdown-item:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.15);
}

.nav-menu-dropdown-item-text {
  margin-left: 10px;
  font-size: 20px;
  text-align: center;
  color: white;
}

.nav-menu-dropdown hr {
  height: 1px;
  background-color: #ffffff5d;
  border: unset;
  margin: 10px 0;
}

.nav-menu-dropdown-userinfo {
  padding: 10px 0.7rem;
  padding-bottom: 0;
  border-radius: 0;
}

.nav-menu-dropdown-userinfo:hover {
  background-color: unset;
}

.nav-menu-dropdown-user-avatar {
  width: calc(var(--nav-height) * 0.7);
  height: calc(var(--nav-height) * 0.7);
  margin: calc(var(--nav-height) * 0.1) 0;
  border-radius: 100%;
}

.nav-menu-dropdown-more {
  margin-left: auto;
  color: white;
}

.nav-menu-dropdown-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

main {
  display: flex;
  min-width: 1120px;
  flex-direction: column;
  align-items: center;
  color: white;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.content-title {
  margin-top: 40px;
  display: flex;
  width: 1090px;
  margin-left: auto;
  margin-right: auto;
}

.react-loading-skeleton {
  background-image: none !important;
}

/* LEVEL ITEM */

/* UNUSED :
 * .level-item-info-background-container
 * .level-item-info-background
 */

.level-item-info {
  position: relative;
  width: 1100px;
  height: 70px;
  margin-bottom: 8px;
}

.level-item-info-background-container {
  top: 0;
  left: 0;
  position: absolute;
  width: 1100px;
  height: 70px;
  border-radius: 10px;
  overflow: hidden;
}

.level-item-info-background {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-position: center;
  background-size: cover;
  transition-duration: 0.3s;
  filter: blur(5px) brightness(0.3);
}

.level-item-info-container-normal,
.level-item-info-container-hover {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.level-item-info-container-hover {
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  opacity: 0;
  z-index: 1;
}

.level-item-info:hover .level-item-info-background {
  filter: blur(3px) brightness(0.4);
}

.level-item-info:hover .level-item-info-container-hover {
  opacity: 1;
}

.level-item-info:hover .level-item-info-container-normal {
  opacity: 0;
}

.level-item-info-difficulty {
  margin: 10px;
  margin-left: 15px;
  margin-right: 5px;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.288);
}

.level-item-info-section {
  margin-left: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.level-item-info-section-center * {
  text-align: center;
  justify-content: center;
}

.level-item-info-label {
  height: 20px;
  font-size: 15px;
  font-weight: 600;
  color: #b3b3b3;
}

.level-item-info-value {
  max-width: 400px;
  font-size: 20px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: white;
}

.level-item-info-label-ew::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #ff5c3187;
  border-radius: 100%;
}

.level-item-info-id {
  margin-left: 5px;
  opacity: 0.5;
}

.level-item-info-id::before {
  content: "#";
}

/* SHOW TOOLTIPTEXT */

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-container .tooltiptext {
  width: 120px;
  top: 120%;
  left: -50px;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
  text-align: center;
  overflow: hidden;
  font-size: 14px;
  font-weight: 700;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 2;
  transition: all 0.2s ease;
}

.tooltip-container:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* SEARCH SECTION */

.list-search-container {
  width: 1080px;
  min-height: 32px;
  margin-top: 10px;
  padding: 10px;
}

.list-search-section {
  display: flex;
}

.list-text-input {
  background-color: rgba(255, 255, 255, 0.3);
  border-style: none;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  font-family: Quicksand;
  font-weight: 300;
  font-size: 15px;
  color: white;
}

.list-text-input::placeholder {
  color: white;
  opacity: 0.7;
}

.list-search-bar {
  width: 1000em;
}

.list-search-content-toggle,
.list-search-content-toggle img {
  height: 32px;
  cursor: pointer;
}

.list-search-content-toggle-button {
  display: none;
}

.list-search-content-toggle label {
  opacity: 0.5;
  transition: all 0.2s ease;
}

.list-search-content-toggle-button:checked + label {
  opacity: 1;
}

.list-search-filter-button,
.list-search-sort-button {
  margin-left: 10px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease;
}

.list-search-filter-button svg,
.list-search-sort-button svg {
  height: 32px;
  width: 20px !important;
}

.list-search-filter,
.list-search-sort {
  margin-top: 10px;
}

.list-search-content-title {
  width: 1080px;
  border-top-color: rgba(255, 255, 255, 0.4);
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 10px;
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 5px;
}

.list-search-content-show {
  animation-name: list-search-content-show-animation;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.list-search-content-hide {
  animation-name: list-search-content-hide-animation;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes list-search-content-hide-animation {
  from {
    height: auto;
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    height: 0;
    margin: 0;
    visibility: hidden;
  }
}

@keyframes list-search-content-show-animation {
  from {
    height: 0;
    margin: 0;
  }
  to {
    height: auto;
  }
}

/* LIKE BUTTON */

.like-button {
  max-width: 200px;
  display: flex;
  align-items: center;
  padding: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 5px;
  border-radius: 100em;
  font-weight: 400;
  color: rgb(90, 90, 90);
  background-color: white;
  font-family: "Roboto Mono", "Quicksand", monospace;
  letter-spacing: -1px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.like-button:hover {
  background-color: rgb(197, 197, 197);
}

.like-button svg {
  margin-right: 5px;
  transition: all 0.2s ease;
}

.like-button-clicked {
  background-color: rgb(243, 243, 243);
}

.like-button-clicked svg {
  color: rgb(255, 77, 77);
}

/* USER MENU BUTTON */

.user-menu-button {
  padding: 0;
  border: none;
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 40px;
  right: 50px;
  z-index: 100;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  filter: brightness(0.8);
}

.user-menu-button:hover {
  transform: scale(1.15);
  filter: brightness(1);
}

/* FOOTER */

footer {
  left: 0;
  bottom: 0;
  margin-top: auto;
  width: 100%;
  height: 90px;
}

.footer-content {
  height: 100%;
  width: 1060px;
  bottom: 0;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  line-height: 90px;
  vertical-align: middle;
  text-align: center;
}
