/* This file contains CSS that is common across all pages */

/* Roboto Mono (monospace) font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

/* Quicksand fonts */
@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Light.ttf');
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Regular.ttf');
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Medium.ttf');
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-SemiBold.ttf');
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Bold.ttf');
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/* Firefox */
@supports (-moz-appearance: textfield) {
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

:root {
  --nav-height: 56px;
  --nav-menu-size: 100px;
  --normal-font: 'Quicksand', '나눔스퀘어라운드', '나눔고딕', '나눔스퀘어',
    'Segoe UI', 'Segoe UI Symbol', 'Segoe UI Emoji', 'Segoe UI WP',
    'Segoe UI Light', 'Segoe UI', 'Helvetica Neue', 'Helvetica', 'Arial',
    sans-serif;
  --monospace-font: 'Roboto Mono', monospace;
}

html,
body,
#root,
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  scrollbar-width: thin;
}

body {
  min-width: 1120px;
  margin: 0;
  padding-right: 0 !important; /* swal changes body stlye */
  background-attachment: fixed;
  background-size: cover;
  font-weight: 400;
  font-family: var(--normal-font);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* overflow: overlay; */
  -webkit-touch-callout: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
  /* width: 10px;
  height: 10px; */
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.66);
  transition: all 0.2s ease;
}

body::-webkit-scrollbar-corner {
  display: none;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(202, 202, 202, 0.66);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1120px;
  margin-top: var(--nav-height);
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

li {
  display: inline-block;
}

li a {
  padding: 0 25px;
  color: white;
  font-size: 20px;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  color: white;
}

h1 {
  font-weight: 600;
  font-size: 40px;
}

h2 {
  font-weight: 600;
  font-size: 25px;
}

h3 {
  font-weight: 600;
  font-size: 20px;
}

/* h4 {
}

h5 {
} */

input:focus {
  outline: none;
}

::placeholder {
  color: white;
  opacity: 0.35;
}

/* XXX logo of the navbar */
.logo-middle {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

nav {
  position: fixed;
  z-index: 10000;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: var(--nav-height);
  background-color: rgba(26, 37, 51, 0.7);
}

@supports (backdrop-filter: blur(0)) or (-webkit-backdrop-filter: blur(0)) {
  nav {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}

.nav-logo,
.nav-pages,
.nav-menu {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-logo,
.nav-menu {
  position: absolute;
  padding-right: 15px;
  padding-left: 15px;
}

.nav-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.nav-menu {
  right: 0;
  display: flex;
  justify-content: flex-end;
}

.nav-menu-user-avatar {
  width: calc(var(--nav-height) * 0.45);
  height: calc(var(--nav-height) * 0.45);
  margin-right: 5px;
  border-radius: 100%;
}

.nav-menu-user-name:hover {
  text-decoration: none;
}

.nav-menu-list {
  display: flex;
  gap: 10px;
}

.nav-menu-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: calc(var(--nav-height) * 0.6);
  height: calc(var(--nav-height) * 0.6);
  padding: 0;
  border-radius: 100%;
  color: white;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav-menu-icon-button a {
  padding: 0;
}

.nav-menu-icon-button:hover {
  filter: brightness(1.2);
}

.nav-menu-icon-button :is(a, img) {
  width: calc(var(--nav-height) * 0.4);
  height: calc(var(--nav-height) * 0.4);
  font-size: calc(var(--nav-height) * 0.3);
}

.nav-menu-icon-button a:hover {
  text-decoration: none;
}

.nav-menu-dropdown {
  position: absolute;
  top: var(--nav-height);
  right: 0;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
  width: 300px;
  margin: 10px;
  padding: 0.5rem;
  padding-top: 0;
  border: rgba(255, 255, 255, 0.33) solid 1px;
  border-radius: 10px;
  background-color: rgba(25, 39, 56, 01);
  transition: all 0.2s ease;
  will-change: opacity, transform;
}

.nav-menu-dropdown-container {
  width: 100%;
  transition: all 0.2s ease;
  will-change: transform, position;
}

.nav-menu-dropdown-enter {
  opacity: 0;
  transform: translateY(-110%);
}

.nav-menu-dropdown-enter-active {
  opacity: 1;
  transition: all 0.2s ease;
  transform: translateY(0%);
}

.nav-menu-dropdown-exit {
  opacity: 1;
}

.nav-menu-dropdown-exit-active {
  opacity: 0;
  transform: translateY(-110%);
}

.nav-menu-dropdown-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.nav-menu-dropdown-primary-enter-active {
  transform: translateX(0%);
}

.nav-menu-dropdown-primary-exit {
  position: absolute;
}

.nav-menu-dropdown-primary-exit-active {
  transform: translateX(-110%);
}

.nav-menu-dropdown-secondary-enter {
  transform: translateX(110%);
}

.nav-menu-dropdown-secondary-enter-active {
  transform: translateX(0%);
}

/* .nav-menu-dropdown-secondary-exit {
} */

.nav-menu-dropdown-secondary-exit-active {
  transform: translateX(110%);
}

.nav-menu-dropdown-secondary-title {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.33);
  color: white;
  font-weight: 600;
  font-size: 1.2em;
  cursor: pointer;
}

.nav-menu-dropdown-back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 7.5px;
  padding: 7.5px;
  border-radius: 100%;
  transition: all 0.2s ease;
}

.nav-menu-dropdown-back-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-menu-dropdown-item {
  display: flex;
  align-items: center;
  width: calc(300px - 1rem);
  height: 50px;
  padding: 0 0.5rem;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.nav-menu-dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.15);
  text-decoration: none;
}

.nav-menu-dropdown-item-text {
  margin-left: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
}

.nav-menu-dropdown hr {
  height: 1px;
  margin: 10px 0;
  border: unset;
  background-color: rgba(255, 255, 255, 0.37);
}

.nav-menu-dropdown-userinfo {
  padding: 10px 0.7rem;
  padding-bottom: 0;
  border-radius: 0;
}

.nav-menu-dropdown-userinfo:hover {
  background-color: unset;
}

.nav-menu-dropdown-user-avatar {
  width: calc(var(--nav-height) * 0.7);
  height: calc(var(--nav-height) * 0.7);
  margin: calc(var(--nav-height) * 0.1) 0;
  border-radius: 100%;
}

.nav-menu-dropdown-more {
  margin-left: auto;
  color: white;
}

.nav-menu-dropdown-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.content-title {
  display: flex;
  width: 1090px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.react-loading-skeleton {
  background-image: none !important;
}

/* SHOW TOOLTIPTEXT */

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-container .tooltiptext {
  position: absolute;
  top: 120%;
  left: -50px;
  z-index: 2;
  overflow: hidden;
  width: 120px;
  padding: 5px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.7);
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

.tooltip-container:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}

/* SEARCH SECTION */

.list-search-container {
  width: 1080px;
  min-height: 32px;
  margin-top: 10px;
  padding: 10px;
}

.list-search-section {
  display: flex;
}

.list-text-input {
  padding: 5px;
  padding-left: 10px;
  border-style: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  font-weight: 300;
  font-size: 15px;
  font-family: var(--normal-font);
}

.list-text-input::placeholder {
  color: white;
  opacity: 0.7;
}

.list-search-bar {
  width: 1000em;
}

.list-search-content-toggle,
.list-search-content-toggle img {
  height: 32px;
  cursor: pointer;
}

.list-search-content-toggle-button {
  display: none;
}

.list-search-content-toggle label {
  opacity: 0.5;
  transition: all 0.2s ease;
}

.list-search-content-toggle-button:checked + label {
  opacity: 1;
}

.list-search-filter-button,
.list-search-sort-button {
  margin-left: 10px;
  padding-right: 6px;
  padding-left: 6px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease;
}

.list-search-filter-button svg,
.list-search-sort-button svg {
  width: 20px !important;
  height: 32px;
}

.list-search-filter,
.list-search-sort {
  margin-top: 10px;
}

.list-search-content-title {
  width: 1080px;
  margin-bottom: 5px;
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-weight: 700;
  font-size: 1.4em;
}

.list-search-content-show {
  animation-name: list-search-content-show-animation;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.list-search-content-hide {
  animation-name: list-search-content-hide-animation;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes list-search-content-hide-animation {
  from {
    height: auto;
    opacity: 1;
    visibility: visible;
  }

  to {
    height: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes list-search-content-show-animation {
  from {
    height: 0;
    margin: 0;
  }

  to {
    height: auto;
  }
}

/* LIKE BUTTON */

.like-button {
  display: flex;
  align-items: center;
  max-width: 200px;
  margin-top: 5px;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 100em;
  background-color: white;
  color: rgb(90, 90, 90);
  font-weight: 400;
  font-family: var(--monospace-font);
  letter-spacing: -1px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.like-button:hover {
  background-color: rgb(197, 197, 197);
}

.like-button svg {
  margin-right: 5px;
  transition: all 0.2s ease;
}

.like-button-clicked {
  background-color: rgb(243, 243, 243);
}

.like-button-clicked svg {
  color: rgb(255, 77, 77);
}

/* USER MENU BUTTON */

.user-menu-button {
  position: fixed;
  right: 50px;
  bottom: 40px;
  z-index: 100;
  width: 64px;
  height: 64px;
  padding: 0;
  border: none;
  filter: brightness(0.8);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.user-menu-button:hover {
  filter: brightness(1);
  transform: scale(1.15);
}

/* FOOTER */

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  margin-top: auto;
}

.footer-content {
  bottom: 0;
  vertical-align: middle;
  width: 1060px;
  height: 100%;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  line-height: 90px;
  text-align: center;
}
