@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import 'tippy';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white select-none;
  overflow-x: hidden;
  letter-spacing: -0.011rem;

  &::after {
    @apply fixed z-[-100] left-0 top-0 w-full h-full bg-center bg-cover bg-no-repeat;
    content: '';
    background-image: url('/background.webp');
  }
}

.text-shadow-6 {
  text-shadow: 0 0 6px #000000;
}

.text-shadow-5 {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-image: url('/background.webp');
}

body::-webkit-scrollbar-track {
  border-radius: 0;
}
