.main-logo {
  margin-top: 60px;
  width: 700px;
  height: 100px;
}

.main-yellow-highlight {
  color: #ffe76e;
}

.main-search-bar {
  margin-top: 40px;
  width: 680px;
  background-color: rgba(0, 0, 0, 0.3);
  border-style: none;
  border-radius: 5px;
  padding: 10px;
  font-family: Quicksand;
  font-weight: 300;
  font-size: 15px;
  color: white;
}

.main-additional-information {
  margin-top: 30px;
  display: flex;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.main-top-plays {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  /* cursor: pointer; */
}

.main-top-plays-container {
  margin-top: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.main-top-plays-container:hover {
  transform: scale(1.05);
}

.main-top-plays-container:hover .main-top-plays-image {
  filter: blur(0.5px) brightness(0.5);
}

.main-top-plays-image-container {
  border: solid 3px transparent;
  background-color: black;
  overflow: hidden;
  width: 336px;
  height: 189px;
  border-radius: 8px;
}

.main-top-plays-image {
  width: 336px;
  height: 189px;
  object-fit: cover;
  filter: blur(2px) brightness(0.4);
  transition: all 0.2s ease-in-out;
}

.main-top-plays-title {
  position: absolute;
  max-width: 340px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  top: 70px;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-size: 20px;
  font-weight: 500;
}

/* .main-top-plays-subtitle {
  position: absolute;
  top: 35px;
  left: 8px;
  color: greenyellow;
  font-size: 12px;
  font-weight: 500;
} */

.main-top-plays-player {
  position: absolute;
  max-width: 340px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.main-top-plays-spac {
  display: flex;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  top: 150px;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-size: 15px;
  font-weight: 700;
}

.main-top-plays-spac div {
  display: flex;
}

.main-top-plays-spac img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.main-top-plays-pp {
  position: absolute;
  top: 14px;
  left: 14px;
  color: rgb(255, 212, 70);
  font-size: 22px;
  font-weight: 500;
}

.main-top-plays-speed {
  position: absolute;
  bottom: 10px;
  left: 8px;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.main-top-plays-acc {
  position: absolute;
  bottom: 10px;
  right: 8px;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.main-top-plays-level {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 8px;
  right: 8px;
}

.main-popular-levels {
  margin-top: 10px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.main-tag {
  height: 24px;
  margin-top: 4px;
  margin-right: 5px;
}

.main-user-menu {
  width: 300px;
}

.main-user-menu-context {
  color: #545454;
}

.main-user-menu-context:hover {
  font-weight: 600;
}

.main-user-menu-context:hover::before {
  content: "> ";
}
