@import 'tippy';
@import '../../node_modules/nprogress/nprogress.css';
@import 'base';

:root {
  --color-yellow: 255, 231, 110;
  --color-red: 245, 79, 81;
  --color-blue: 77, 147, 252;
  --color-cyan: 47, 186, 175;
  --color-darkblue: 0, 2, 15;
  --color-dropdown: 11, 24, 35;
  --font-normal: 'QuicksandVariable', 'Quicksand', 'M PLUS Rounded 1c', 'NanumSquareRound', sans-serif;
  --font-mono: 'Roboto Mono', monospace;
  --animation-fadein: fade-in 0.2s linear;
  --drop-shadow-6: 0 0 6px rgb(0, 0, 0);
  --drop-shadow-5: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  --nav-height: 56px;
}

* {
  letter-spacing: -0.01em;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: var(--font-normal);
  letter-spacing: -0.01rem;

  &::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    background-image: url('/background.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#root {
  position: relative;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}

.text-shadow-6 {
  text-shadow: 0 0 6px rgb(0, 0, 0);
}

.text-shadow-5 {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.mobile-only {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
  }
}

// #root {
//   width: 100vw;
//   height: 100vh;
//   overflow-y: scroll;
// }

// Scrollbar --------------------------------------------------

body > .simplebar-wrapper {
  width: 100vw;
  height: 100vh;
}

.simplebar-scrollbar::before {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.4);
}

.simplebar-track {
  pointer-events: all;
}

.simplebar-vertical .simplebar-scrollbar::before {
  width: 10px;
}

.simplebar-horizontal .simplebar-scrollbar::before {
  height: 10px;
}
