.mod-info-main {
  display: flex;
  min-width: 1120px;
  flex-direction: column;
  align-items: center;
  color: white;
}

.mod-info-feature {
  margin-top: 30px;
  padding-bottom: 15px;
  width: 1100px;
  border-bottom-color: rgba(255, 255, 255, 0.4);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.mod-info-feature-top {
  display: flex;
  justify-content: space-between;
}

.mod-info-title {
  display: flex;
  align-items: center;
}

.mod-info-category-icon {
  width: 40px;
  margin-right: 10px;
}

.mod-info-name {
  max-width: 800px;
  line-height: 1.05em;
  height: 1.1em;
  font-size: 40px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mod-info-version {
  font-size: 24px;
  opacity: 70%;
}

.mod-info-date {
  display: flex;
  opacity: 70%;
}

.mod-info-date div {
  margin-right: 10px;
}

.mod-info-date div:first-child::after {
  content: "/";
  margin-left: 10px;
}

.mod-info-buttons .mod-info-button svg {
  width: 40px;
  height: 40px;
  margin-left: 15px;
}

.mod-info-feature-bottom {
  diSPlaY: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 40px;
}

.mod-info-feature-bottom-detail {
  diSPlaY: flex;
}

.mod-info-feature-bottom-item {
  margin-right: 30px;
}

.mod-info-feature-bottom-item-title {
  opacity: 70%;
}

.mod-info-feature-bottom-item-title svg {
  margin-right: 5px;
}

.mod-info-feature-bottom-item-content {
  font-size: 22px;
}