.tippy-box {
  background-color: rgba(var(--color-dropdown), 100) !important;

  .tippy-arrow {
    color: rgba(var(--color-dropdown), 100) !important;
  }

  .tippy-content {
    padding: 0 !important;
  }
}
