@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: url('http://localhost:3000/fonts/Quicksand-Light.ttf');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('http://localhost:3000/fonts/Quicksand-Regular.ttf');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: url('http://localhost:3000/fonts/Quicksand-Medium.ttf');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  src: url('http://localhost:3000/fonts/Quicksand-SemiBold.ttf');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url('http://localhost:3000/fonts/Quicksand-Bold.ttf');
}

html, body {
  width: 100%;
  min-width: 1100px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  background-image: url('http://localhost:3000/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  font-family: Quicksand;
  font-weight: 400;
}

.container {
  position: relative;
  height: 1600px;
}

ul {
  list-style-type: none;
  margin-left: 50px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

li {
  display: inline-block;
}

li a {
  font-size: 20px;
  text-align: center;
  padding: 0px 25px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

h1, h2, h3, h4, h5 {
  color: white;
  margin: 0;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

h2 {
  font-size: 25px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h4 {

}

h5 {

}

input:focus {
  outline: none;
}

::placeholder {
  color: white;
  opacity: 0.35;
}

.container {
  width: 100%;
}

.logo-middle {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.navbar {
  display: flex;
  line-height: 40px;
  vertical-align: middle;
}

.navbar-content {
  flex-basis: 80%;
  min-width: 550px;
}

.navbar-logo, .navbar-login {
  flex-basis: 10%;
  min-width: 275px;
}

.navbar-logo, .navbar-content, .navbar-login {
  height: 40px;
  background-color: rgba(26, 37, 51, 0.7);
}

.main {
  text-align: center;
  min-width: 1100px;
}

.main-logo {
  margin-top: 60px;
}

.yellow-highlight {
  color: #FFE76E;
}

.main-search-bar {
  margin-top: 40px;
  width: 680px;
  background-color: rgba(0, 0, 0, 0.3);
  border-style: none;
  border-radius: 5px;
  padding: 10px;
  font-family: Quicksand;
  font-weight: 300;
  font-size: 15px;
  color: white;
}

.main-additional-information {
  margin-top: 30px;
  display: flex;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.content-title {
  margin-top: 40px;
  display: flex;
  width: 1085px;
  margin-left: auto;
  margin-right: auto;
}

.main-top-plays {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.main-top-plays-container {
  margin-top: 10px;
  position: relative;
  transition: all .2s ease-in-out;
}

.main-top-plays-container:hover {
  transform: scale(1.05);
}

.main-top-plays-image {
  width: 256px;
  height: 144px;
  object-fit: cover;
  border-radius: 8px;
  filter: brightness(0.3);
}

.main-top-plays-title {
  position: absolute;
  max-width: 215px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  top: 5px;
  left: 8px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.main-top-plays-subtitle {
  position: absolute;
  top: 35px;
  left: 8px;
  color: greenyellow;
  font-size: 12px;
  font-weight: 500;
}

.main-top-plays-player {
  position: absolute;
  max-width: 240px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  bottom: 35px;
  left: 8px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.main-top-plays-speed {
  position: absolute;
  bottom: 10px;
  left: 8px;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.main-top-plays-acc {
  position: absolute;
  bottom: 10px;
  right: 8px;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.main-top-plays-level {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 4px;
  right: 2px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.main-popular-maps {
  margin-top: 10px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.map-info {
  position: relative;
  width: 1100px;
  height: 70px;
}

.map-info-container-bottom {
  position: absolute;
  display: flex;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-image: url('http://localhost:3000/level-background.png');
  background-position: center;
}

.map-info-container-top {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('http://localhost:3000/level-background.png');
  background-position: center;
  transition-duration: 0.3s;
  opacity: 0;
}

.map-info-container-top:hover {
  opacity: 1;
}

.map-info-top {
  height: 20px;
  font-size: 15px;
  color: #B3B3B3;
  font-weight: 600;
}

.map-info-map {
  max-width: 400px;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  color: white;
  font-weight: 500;
}

.map-info-creator {
  max-width: 200px;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  color: white;
  font-weight: 500;
}

.map-info-bpm {
  max-width: 130px;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  color: white;
  font-weight: 500;
}

.map-info-tiles {
  max-width: 80px;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  color: white;
  font-weight: 500;
}

.map-info-likes {
  max-width: 80px;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  color: white;
  font-weight: 500;
}

.map-info-comments {
  max-width: 80px;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  color: white;
  font-weight: 500;
}

.map-info-song {
  max-width: 400px;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  color: white;
  font-weight: 500;
}

.map-info-artist {
  max-width: 250px;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  color: white;
  font-weight: 500;
}

.map-info-tags {
  max-width: 335px;
  height: 30px;
  font-size: 20px;
  color: white;
  font-weight: 500;
  display: flex;
}

.tag-container {
  position: relative;
  display: inline-block;
}

.tag {
  height: 20px;
  margin-top: 8px;
  margin-right: 5px;
}

.tag-container .tooltiptext {
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
  overflow: hidden;
  font-size: 14px;
  font-weight: 700;
  visibility: hidden;
  width: 120px;
  top: 120%;
  left: -50px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tag-container:hover .tooltiptext {
  visibility: visible;
}

.map-additional-info-container {
  width: 1000px;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: greenyellow;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: rgba(26, 37, 51, 0.7);
}

.footer-content {
  height: 100%;
  width: 1060px;
  margin-left: auto;
  margin-right: auto;
  line-height: 90px;
  vertical-align: middle;
  text-align: center;
}
